root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{js,jsx,ts,tsx,html,css,scss}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

# Trailing whitespace should be trimmed in all markdown files
[*.md]
trim_trailing_whitespace = true
